body{
  background-color: #4cb97f;
  font-family: 'Bungee', 'sans-serif';
}
.fa  {
  font-size: 10em;
  color: #fff;
  text-decoration : none;


}
a{
  text-decoration: none;
}
i:hover{
  color: #4cb97f;
  background-color: #fff;
}
a:hover{
  color: #4cb97f;
  text-decoration:none;
}
#title{
  font-size: 80px;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
}
#chooseYourCar{
  font-size : 68px;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
}
